.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsansbold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprum.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbolditalic.woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumitalic.woff2");
    font-weight: 400;
    font-style: italic;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    min-width: 940px;
}

.main-header {
    margin-bottom: 60px;
}

.footer-container-bottom,
.header-top-wrap {
    width: 100%;
    background-color: #293449;
}

.header-bottom-wrap {
    width: 100%;
    background-color: #f3f7f9;
}

.header-middle-wrap {
    padding: 46px 0;
}

.header-contact {
    margin-right: 68px;
    width: 270px;
    position: relative;
}

.header-top-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 18px;
}

.header-logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    background-color: #ee3643;
    padding: 13px 55px 8px;
    box-shadow: 0 5px 0 0 rgb(181, 41, 51);
}

.search-form {
    position: relative;
    width: 270px;
    vertical-align: middle;
}

.search-form input {
    width: 220px;
    vertical-align: middle;
    background-color: #293449;
    border: none;
    padding-top: 14px;
    padding-left: 48px;
}

.search-form label {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 16px;
    width: 20px;
    height: 20px;
}

.search-form svg {
    opacity: 0.3;
}

.user-navigation-top {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-navigation-top a {
    display: inline-block;
    width: 150px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 14px 0;
}

.user-navigation-top li {
    position: relative;
}

.user-navigation-top .user-navigation-bookmark::after,
.user-navigation-top .user-navigation-trash::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    width: 16px;
    height: 18px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 14px 16px;
}

.user-navigation-top .user-navigation-bookmark::after {
    background-image: url("../img/icon-bookmark.svg");
}

.user-navigation-top .user-navigation-trash::after {
    background-image: url("../img/cart-icon.svg");
}

.user-navigation-order {
    background-color: #63a63e;
}

.header-middle-wrap {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.header-middle-wrap p {
    padding: 0;
    margin: 0;
}

.header-middle-wrap .header-promo {
    text-transform: lowercase;
    width: 197px;
    margin: 0 68px 0 53px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-middle-wrap .header-contact-item:first-child {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
    padding: 10px 48px 8px 71px;
}

.header-contact-item:first-child::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
}

.header-middle-wrap .header-contact-item:last-child {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-transform: lowercase;
    padding: 5px 10px 0;
    text-transform: capitalize;
}

.header-contact-item span {
    text-transform: lowercase;
}

.user-navigation-bottom {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 282px;
    justify-content: space-between;
    vertical-align: middle;
}

.user-navigation-bottom li {
    position: relative;
}

.user-navigation-bottom .btn {
    display: inline-block;
    background-color: #ffffff;
    text-transform: capitalize;
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    padding: 15px 25px 15px 25px;
}

.user-navigation-bottom li:first-child .btn {
    padding-left: 48px;
}

.user-navigation-bottom .user-navigation-enter::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-position: 0 0;
}

.header-bottom-navigation {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.menu-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 rgb(41, 52, 73);
}

.menu-navigation a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding: 22px 30px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}

.menu-navigation li:first-of-type a {
    padding-left: 52px;
}

.menu-navigation li:nth-child(7n) a {
    padding-right: 55px;
}

.container-center,
.main-content {
    width: 940px;
    margin: 0 auto;
}

.menu-list-item {
    width: 300px;
}

.menu-list-item .list-item-wrap {
    padding: 22px 140px 22px 22px;
}

.menu-list-item p {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.menu-list-item .list-item-btn {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 138px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 24px 10px 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.main-user-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
}

.main-user-menu .materials {
    background-color: #ffbf47;
    background-image: url("../img/new-icon.png"), url("../img/materials-icon.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 0, 213px 31px;
}

.main-user-menu .tool {
    background-color: #3bbce3;
    background-image: url("../img/tool-icon.svg");
    background-repeat: no-repeat;
    background-position: 197px 33px;
}

.main-user-menu .technic {
    background-color: #dc91d8;
    background-image: url("../img/technic.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.main-user-menu .sale {
    background-color: #8ed78f;
    background-image: url("../img/discount-icon.svg");
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.main-user-menu .delivery-free {
    background-color: #ffc047;
    background-image: url("../img/delivery-icon.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.main-user-menu .user-menu-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-center {
    display: flex;
    flex-wrap: wrap;
}

.btn-red {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 45px 10px 49px;
    position: relative;
    z-index: 10;
}

.main-user-menu>.menu-list-item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-user-menu .menu-list-item:nth-of-type(3) {
    margin-right: 0;
}

.main-user-menu .promo-slider {
    margin-right: 20px;
}

.user-menu-column .menu-list-item:first-of-type {
    margin-bottom: 20px;
}

.promo-slider-item {
    position: relative;
    padding: 22px 25px;
    width: 620px;
}

.promo-slider input {
    display: none;
}

.promo-slider-item img {
    width: 620px;
    height: 266px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.promo-slider button {
    position: absolute;
    background: transparent;
    font-size: 0;
    border: none;
    width: 22px;
    height: 40px;
    z-index: 10;
    top: 114px;
}

.promo-slider .slider-control-left {
    background-image: url("../img/icon-left.svg");
    left: 24px;
}

.promo-slider .slider-control-right {
    background-image: url("../img/icon-right.svg");
    right: 20px;
}

.promo-slider {
    position: relative;
}

.slider-radio-wrap {
    position: absolute;
    z-index: 10;
    bottom: 36px;
    left: 295px;
}

.slider-radio-wrap label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.slider-radio-wrap label:first-of-type {
    margin-right: 8px;
}

.slider-radio-wrap .checked {
    background-color: #ee3643;
    border: 2px solid #ffffff;
}

.promo-slider-item h2,
.promo-slider-item p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
}

.promo-slider-item h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4px;
}

.promo-slider-item p {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: lowercase;
    margin-bottom: 120px;
}

.promo-slider-item p::first-letter {
    text-transform: uppercase;
}

.popular-head-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f5f0;
    padding: 25px 24px 26px 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popular-head-wrap h3 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
}

.popular-manufacturer .btn-red {
    padding: 11px 70px 11px 70px;
}

.popular-product {
    margin-bottom: 22px;
}

.popular-product-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
}

.popular-manufacturer-item {
    display: flex;
    align-items: center;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.popular-manufacturer-item img {
    margin: 0 auto;
}

.popular-manufacturer-item:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.popular-product .popular-product-item {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #eaeaea;
    width: 220px;
    text-align: center;
}

.popular-product-item p:first-of-type {
    order: -1;
    display: inline-block;
}

.popular-product-item p {
    margin: 0;
    padding: 0;
}

.popular-product-item h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 18px;
}

.popular-product-item .name-product {
    text-transform: lowercase;
}

.popular-product-item h3::first-letter {
    text-transform: uppercase;
}

.popular-product-item .popular-img-wrap {
    margin-bottom: 44px;
    padding-top: 40px;
}

.product-item-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    line-height: 18px;
}

.product-item-price .old-price {
    color: #a9a9a9;
    margin-bottom: 13px;
    text-decoration: line-through;
}

.product-item-price a {
    margin: 0 auto;
    margin-bottom: 21px;
    color: #ffffff;
    width: 141px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    background-image: url("../img/btn-red-price.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 141px 38px;
}

.services-list-wrap {
    display: flex;
    flex-wrap: wrap;
}

.services .services-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services h3,
.services p {
    margin: 0;
    padding: 0;
}

.delivery {
    width: 620px;
}

.delivery p {
    margin: 0;
    padding: 0;
    width: 282px;
}

.delivery h3 {
    margin: 0;
    padding: 0;
}

.features-contacts-wrap {
    display: flex;
    flex-wrap: wrap;
}

.features {
    width: 530px;
}

.main-contacts {
    width: 300px;
}

.footer-container-top {
    width: 100%;
    background-color: #32425c;
}

.footer-menu-navigation {
    width: 570px;
}

.footer-menu-navigation ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.social-block-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-block-list a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.logo-menu-wrap {
    width: 335px;
}

.footer-container-bottom .copyright-footer {
    padding: 0;
    margin: 0;
    width: 335px;
}

.social-block-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.social-block {
    width: 165px;
}
